
main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

main .brand{
  color: #4B4B5B;
  margin-right: 20px
}

::ng-deep .warn{
  background: red;
}

@media screen and (min-width: 1024px){
    main{
      flex-direction: row;
    }

  button {
    width: 100px;
  }
  h3 {
    font-weight: lighter;
    font-size: small;
  }
}
