<main>
  <div class="brand">
    <section style="display: flex;flex-flow: column;align-items: flex-end;justify-content: center">
      <br>
      <form [formGroup]="form" (ngSubmit)="onFormSubmit()" style="display: flex;flex-flow: column;align-items: flex-end">
        <mat-form-field appearance="fill" color="warn" style="min-width: 250px">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="email@example.com" formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" color="warn" style="min-width: 250px">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <button mat-raised-button color="warn">Login</button>
      </form>
      <button mat-button (click)="redirect()">
        Cadastre-se
      </button>
    </section>
  </div>
</main>
